[Desktop Entry]
Version=1.0
Name=Jellyseerr
GenericName=Media Request
Keywords=Internet;WWW;Browser;Web;Explorer
Exec=firefox https://jellyseerr.local.warnes.us
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/home/pwarnes/icons/jellyseerr.png
Categories=GNOME;GTK;Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;application/rss+xml;application/rdf+xml;image/gif;image/jpeg;image/png;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ftp;x-scheme-handler/chrome;video/webm;application/x-xpinstall;
Actions=new-window;new-private-window;

