[Desktop Entry]
Version=1.0
Name=Lem
GenericName=editor
Comment=Lem Editor
Exec=/home/pwarnes/dev/lisp/lem/lem
Icon=/home/pwarnes/config/icons/lem.svg
Terminal=false
Type=Application
Categories=Editor
